* {
    font-size:16x;
    margin:1;
    padding:0;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

fieldset {
    background: white;
    padding:10px;
    margin:10px;
    color:#0000FF;
    border:#06c dashed 1px;
    text-align: -webkit-center;
    line-height: 200%;
    position:relative;
  	left:350px;
  	top:100px;
	width: 637px;
	height: 280px;
}

legend {
    color:#06c;
    font-weight:600;
    background:#fff;
    border:#b6b6b6 solid 1px;
    padding: 20px;
    width:200px;
    height:1px;
}

input {
	width: 200px;
	height: 20px;
}

/* input:focus{
    border: thin blue solid;
    padding: 1px;
} */
input[type="submit"],input[type="reset"], input[type="button"]{
	width:49px;
	height:27px;
	font-size:15px;
}

td {
	text-align: right;
	color: black;
}

td[colspan="2"] {
	text-align: center;
	
}

td.alert, td.alertPic {
	text-align: left;
	width
}
span.validate{
	color:red;
	display: none;
}

legend span{
	position:relative;
	top: -15px;
}

img.checkPic{
	width: 17px;
	height: 17px;
	/* display: none; */
}
label {
	font-size: 16px;
}

.inputRight{
	width: 16px;
	height: 16px;
	background: url(../images/tick-circle.png) no-repeat;
}

.inputWrong{
	width: 16px;
	height: 16px;
	background: url(../images/wrong.png) no-repeat;
}

.error {
	border: thin red solid;
}
.blog-masthead {
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
	position: relative;
	display: inline-block;
	padding: 10px;
	font-weight: 500;
	color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #fff;
    text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
    color: #fff;
}
.blog-nav .active:after {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -5px;
	vertical-align: middle;
	content: " ";
	border-right: 5px solid transparent;
	border-bottom: 5px solid;
	border-left: 5px solid transparent;
}
.signup-otherplace {
	background-color: #f8f8f8;
}
.signup-place{
	margin-top: 40px;
	background-color: #fefefe;
	height: 500px;
	width: 900px;
	border: 1px solid #ddd;
	padding: 16px 7px 59px 16px;
}
.next-step{
	width: 250px;
	height: 38px;
	font-size: 20px;
}
.sign-process {
	margin-top: 40px
}
.sign-up-pross {
	position: relative;
	background: #ddd;
	float: left;
	width: 300px;
	height: 35px;
	line-height: 35px;
	color: #666;
	font-size: 15px;
	padding-left: 10px;
	overflow: hidden;
}
.sign-up-ok {
	background: #f96;
	color: #fff;
}
.sign-up-pross-dir {
	background: #ddd;
	position: absolute;
	top: -17px;
	right: -19px;
}
.signup-message{
	width: 20px;
	height: 30px;
	font-size: 20px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 60px;
}