* {
    font-size:16x;
    margin:1;
    padding:0;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}
img.checkPic{
	width: 17px;
	height: 17px;
	/* display: none; */
}
.error {
	border: thin red solid;
}
.signup-otherplace {
	background-color: #f8f8f8;
}
.signup-place{
	margin-top: 40px;
	background-color: #fefefe;
	height: 500px;
	width: 900px;
	border: 1px solid #ddd;
	padding: 16px 7px 59px 16px;
}
.next-step{
	margin-top:40px;
	width: 250px;
	height: 38px;
	font-size: 20px;
}
.sign-process {
	margin-top: 40px
}
.sign-up-pross {
	position: relative;
	background: #ddd;
	float: left;
	width: 300px;
	height: 35px;
	line-height: 35px;
	color: #666;
	font-size: 15px;
	padding-left: 10px;
	overflow: hidden;
}
.sign-up-ok {
	background: #f96;
	color: #fff;
}

.signup-message{
	width: 20px;
	height: 30px;
	font-size: 20px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 60px;
}
.icon {
	display: inline-block;
	background: url("../images/signup_019.png") no-repeat;
	margin-right: 5px;
	width: 16px;
	height: 25px;
	vertical-align: middle;
}
.sign-up-pross .index {
	background: #999;
	display: inline-block;
	width: 18px;
	height: 18px;
	line-height: 18px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	color: #fff;
	text-align: center;
	margin-right: 10px;
}
.signup-pross-dir{
	background: #ddd;
	position: absolute;
	top: -17px;
	right: -19px;
}
.signup-pross-dir .outside, .signup-pross-dir .inside{
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 35px 19px;
}
.sign-up-pross .signup-pross-dir .outside {
  border-color: transparent transparent transparent #f8f8f8;
}
.sign-up-pross .signup-pross-dir .inside {
  border-color: transparent transparent transparent #ddd;
  margin-left: -46px;
}
.sign-up-ok .signup-pross-dir .outside {
  border-color: transparent transparent transparent #f8f8f8;
}
.sign-up-ok .signup-pross-dir .inside {
  border-color: transparent transparent transparent #f96;
  margin-left: -46px;
}
.name-tool-tip-info {
	display: none;
	position: absolute;
	max-width: 204px;
	height: 32px;
	_width: 204px;
	background-color: #fff;
	border: 2px solid #ddd;
	/* padding: 8px; */
	color: #666;
}
.name-tool-tip-info .icon-border {
	position: absolute;
	border-style: solid;
	border-width: 8px;
	height: 0;
	width: 0;
	top: 8px;
}
.name-tool-tip-info .icon-border {
	border-color: transparent #ddd transparent transparent;
	left: -17px;
}
.name-tool-tip-info .state{
	background-image: url("../images/wrong.png");
	background-repeat: no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-left: -7px;
	margin-top: 6px;
}
.name-tool-tip-info .alert-name {
	margin-left:15px;
	position: absolute;
	top: 4px;
	color: red;
}
.input-right {
	display: none;
	width: 16px;
	height: 16px;
	margin-left: -17px;
	margin-top: 10px;
	display: inline-block;
	background: url("../images/tick-circle.png") no-repeat;
	
}
.signup-link {
	font-size: 15px;
	margin-top: 55px;
	margin-left: -100px;
}